@import './../../theme.scss';

.search-section {
  background-color: $header-color;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 0;

  .title {
    margin: 0 auto .5em;
  }

  .input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .search {
      width: 50%;
      height: 2em;
      margin: 0;
      outline: $header-color;
      border-radius: 4px;
    }

    .search-btn {
      background-color: #EFF0F1;
      border-radius: 4px;
      margin-top: 10px;
      outline: none;
      text-decoration: none;
      color: $dark-text;
      padding: .5em;
      cursor: pointer;
    }
  }


}
