@import '../../../../theme.scss';
@import '../../../../mixins.scss';

.search-section {
  @include box-shadow;
  background-color: $header-color;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 0;

  .title {
    margin: 0 auto .5em;
  }

  .input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .search {
      width: 50%;
      height: 2.5em;
      margin: 0;
      outline: $header-color;
      border-radius: 4px;
      text-align: center;
    }

    .search-btn {
      background-color: #EFF0F1;
      border-radius: 4px;
      margin-top: 10px;
      outline: none;
      text-decoration: none;
      color: $dark-text;
      padding: .5em;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 768px) {
  .search-section {

    .input-section {
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .search-btn {
        margin: 0 0 0 1em;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .search-section {
    flex-direction: row;
    align-items: center;

    .title {
      flex: 1 30%;
      margin: 0;
    }

    .input-section {
      flex: 1;
    }
  }
}
