@import '../../theme.scss';
@import '../../mixins.scss';

.history-section {
  @include box-shadow;
  padding: 0;
  background-color: $light-bg;
  color: $dark-text;

  .title {
    margin: 0;
    padding: 1em;
    text-align: center;
    cursor: pointer;
  }

  .history-container {
    border-top: 1px solid $dark-text;
    display: none;

    .hist-item {
      text-align: center;
      padding-bottom: .5em;
    }
  }

  .open + .history-container {
    display: block;
  }

}
